h1{
  text-align: left;
   font-family: Monoton;
    font-size: 100px;
    margin:  0.2em;
  color: snow;
  text-shadow: 10px 5px 23px #7d9190;
}
body{
  background-image: url("Fondo-peaky3.jpg");
  background-size: cover;
}
button{
  font-size: 50px;
 box-shadow:  7px 7px 26px #878787;
  background-color: #687b7a;
  color: white;
  text-align: center, left;
  font-family: Monoton;
}
h2,h3{
  text-align: center, left;
  background-color: #172226;
  box-shadow: 7px 7px 27px white ;
  color: #ffffff;
  font-size: 80px;
}